<html>
<head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
<table>
    <thead>
        
    </thead>
    <tbody>
        {% for key, timestamp in results %}<tr>
            <td>{{ key }}</td>
            <td><a href="/cache/?key={{key}}&timestamp={{timestamp}}">{{ timestamp }}</a></td>
            <td><button data-key="{{ key }}" data-timestamp="{{ timestamp }}">Delete</button></td>
        </tr>{% end %}
    </tbody>
</table>

<script>
    $(function(){
        $("button").click(function(event){
            var data = $(event.currentTarget).data();
            $.ajax({
                method: "DELETE",
                url: "/cache/",
                contentType:"application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(data),
                success: function(response){
                    location.reload();
                }
            });
        });
    });
</script>
</body>
</html>